<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74005875042-2nvhqm5dok9521i3f77f7gjf97uesro2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74005875042-2nvhqm5dok9521i3f77f7gjf97uesro2</string>
	<key>API_KEY</key>
	<string>AIzaSyD3iYpc9U9e1zddwKwKQ4TShZmTxM795IU</string>
	<key>GCM_SENDER_ID</key>
	<string>74005875042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kevinwatke.NoteApp</string>
	<key>PROJECT_ID</key>
	<string>fir-notes-app-c5d43</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notes-app-c5d43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74005875042:ios:02663c71f3749cc383443b</string>
</dict>
</plist>